<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DEFAULT} [%c] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="requestsLogger" fileName="${env:HANDLE_SVR}/logs/hrls-requests.log" filePattern="${env:HANDLE_SVR}/logs/hrls-requests.log-%d{yyyyMMdd}" createOnDemand="true">
			<PatternLayout pattern="%d{DEFAULT} [%c] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${env:HANDLE_SVR}/logs/" maxDepth="1">
          			<IfFileName glob="hrls-requests.log*" />
          			<IfLastModified age="28d" />
        		</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="requestsLogger" level="info" additivity="false">
			<AppenderRef ref="requestsLogger"/>
		</Logger>
	</Loggers>
</Configuration>
